@import url("demo.less");


@globals
{
    @blue: #51beff;
    @darker-blue: #3f91ba;
    @green: #2cdcaa;
    @yellow: #ffcc33;
    @orange: #ff9900;
    @whitesmoke: #f5f5f5;
    @white: #ffffff;
    @tomato: #ff6347;
    @steelblue: #4682b4;
    @coral: #ff7f50;
    @burlywood: #deb887;
    @font-name: 'AvenirNext-Regular';
}

